<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Customer list</h3>
    </div>
    <div class="card-toolbar">
      <a
        type="button"
        class="btn btn-primary"
        routerLink="/ecommerce/customer/add"
        >New Customer</a
      >
    </div>
  </div>
  <div class="card-body">
    <!-- begin: Filtration form -->
    <!-- <div class="form form-label-right">
      <div class="form-group row">
        <div class="col-lg-4">
          <div class="row" [formGroup]="filterGroup">
            <div class="col-lg-6">
              <select
                class="form-control"
                name="status"
                placeholder="Filter by Status"
                formControlName="status"
              >
                <option value="">All</option>
                <option value="1">Selling</option>
                <option value="2">Sold</option></select
              ><small class="form-text text-muted"
                ><b>Filter</b> by Status</small
              >
            </div>
            <div class="col-lg-6">
              <select
                class="form-control"
                placeholder="Filter by Contition"
                name="condition"
                formControlName="condition"
              >
                <option value="">All</option>
                <option value="1">New</option>
                <option value="2">Used</option></select
              ><small class="form-text text-muted"
                ><b>Filter</b> by Condition</small
              >
            </div>
          </div>
        </div>
        <div class="col-lg-2" [formGroup]="searchGroup">
          <input
            type="text"
            class="form-control"
            name="searchText"
            placeholder="Search"
            value=""
            formControlName="searchTerm"
          /><small class="form-text text-muted"
            ><b>Search</b> in all fields</small
          >
        </div>
      </div>
    </div> -->
    <!-- end: Filtration form -->
    <!-- begin:Table -->
    <div class="table-responsive angular-bootstrap-table">
      <table
        class="table table-head-custom table-vertical-center overflow-hidden"
      >
        <thead>
          <th>
            Customer Code
            <app-sort-icon
              column="customerCode"
              [activeColumn]="sorting.column"
              [activeDirection]="sorting.direction"
              (sort)="sort($event)"
            ></app-sort-icon>
          </th>
          <th>
            Customer Name
            <app-sort-icon
              column="customerName"
              [activeColumn]="sorting.column"
              [activeDirection]="sorting.direction"
              (sort)="sort($event)"
            ></app-sort-icon>
          </th>
          <th>
            First Name
            <app-sort-icon
              column="firstName"
              [activeColumn]="sorting.column"
              [activeDirection]="sorting.direction"
              (sort)="sort($event)"
            ></app-sort-icon>
          </th>
          <th>
            Last Name
            <app-sort-icon
              column="lastName"
              [activeColumn]="sorting.column"
              [activeDirection]="sorting.direction"
              (sort)="sort($event)"
            ></app-sort-icon>
          </th>
          <th>
            Email ID
            <app-sort-icon
              column="email"
              [activeColumn]="sorting.column"
              [activeDirection]="sorting.direction"
              (sort)="sort($event)"
            ></app-sort-icon>
          </th>
          <th>
            Mobile No
            <app-sort-icon
              column="phone"
              [activeColumn]="sorting.column"
              [activeDirection]="sorting.direction"
              (sort)="sort($event)"
            ></app-sort-icon>
          </th>
          <th>
            Designation
            <app-sort-icon
              column="designation"
              [activeColumn]="sorting.column"
              [activeDirection]="sorting.direction"
              (sort)="sort($event)"
            ></app-sort-icon>
          </th>
          <th>ACTIONS</th>
        </thead>
        <tbody>
          <tr *ngFor="let customer of companyCustomerService.items$ | async">
            <td>{{ customer.customerCode }}</td>
            <td>{{ customer.customerName }}</td>
            <td>{{ customer.firstName }}</td>
            <td>{{ customer.lastName }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ customer.designation }}</td>
            <td>
              <a
                title="Edit customer"
                class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
                [routerLink]="'/ecommerce/customer/edit/' + customer.id"
              >
                <span
                  [inlineSVG]="
                    './assets/media/svg/icons/Communication/Write.svg'
                  "
                  cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-primary"
                >
                </span>
              </a>
              <a
                title="Delete customer"
                class="btn btn-icon btn-light btn-hover-danger btn-sm"
                (click)="delete(customer.id)"
              >
                <span
                  [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'"
                  cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-danger"
                >
                </span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- end: Table -->
    <app-paginator
      class="d-flex justify-content-between align-items-center flex-wrap"
      [paginator]="paginator"
      [isLoading]="isLoading"
      (paginate)="paginate($event)"
    ></app-paginator>
  </div>
</div>
