<div class="card card-custom gutter-b">
  <ng-container *ngIf="isLoading$ | async">
    <div class="progress progress-modal">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
        role="progressbar"
        style="width: 100%"
        aria-valuenow="100"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
  </ng-container>

  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        <ng-container *ngIf="companycustomer">
          {{ id ? "Edit" : "New" }} Customer: 
          <span *ngIf="companycustomer && companycustomer.id"
            >'{{ companycustomer.customerCode }} -
            {{ companycustomer.customerName }}'</span
          >
        </ng-container>
      </h3>
    </div>
    <div class="card-toolbar">
      <a type="button" class="btn btn-light" routerLink="/ecommerce/companycustomers">
        <i class="fa fa-arrow-left"></i>Back
      </a>
    </div>
  </div>
  <div class="card-body">
    <ul class="nav nav-tabs nav-tabs-line" role="tablist">
      <li class="nav-item cursor-pointer" (click)="changeTab(tabs.BASIC_TAB)">
        <a
          class="nav-link"
          data-toggle="tab"
          role="tab"
          [attr.aria-selected]="activeTabId === tabs.BASIC_TAB"
          [class.active]="activeTabId === tabs.BASIC_TAB"
        >
          Basic info
        </a>
      </li>
      <li
        *ngIf="companycustomer && companycustomer.id"
        class="nav-item cursor-pointer"
        (click)="changeTab(tabs.CONTACT_TAB)"
      >
        <a
          class="nav-link"
          data-toggle="tab"
          role="button"
          [attr.aria-selected]="activeTabId === tabs.CONTACT_TAB"
          [class.active]="activeTabId === tabs.CONTACT_TAB"
          >Contact Details</a
        >
      </li>

      <li
        *ngIf="companycustomer && companycustomer.id"
        class="nav-item cursor-pointer"
        (click)="changeTab(tabs.SHIPPING_TAB)"
      >
        <a
          class="nav-link"
          data-toggle="tab"
          role="button"
          [attr.aria-selected]="activeTabId === tabs.SHIPPING_TAB"
          [class.active]="activeTabId === tabs.SHIPPING_TAB"
          >Shipping Details</a
        >
      </li>

      <li
        *ngIf="companycustomer && companycustomer.id"
        class="nav-item cursor-pointer"
        (click)="changeTab(tabs.BILLING_TAB)"
      >
        <a
          class="nav-link"
          data-toggle="tab"
          role="button"
          [attr.aria-selected]="activeTabId === tabs.BILLING_TAB"
          [class.active]="activeTabId === tabs.BILLING_TAB"
          >Billing Details</a
        >
      </li>

    </ul>

    <ng-container *ngIf="activeTabId === tabs.BASIC_TAB">
      <div class="mt-5" *ngIf="companycustomer">
        <form
          action="#"
          class="form form-label-right"
          [formGroup]="formGroup"
          (ngSubmit)="save()"
        >
          <div class="form-group row">
            <div class="col-lg-4">
              <label>Customer Code</label>
              <input
                type="text"
                class="form-control form-control-lg form-control-solid"
                autocomplete="off"
                placeholder="Customer Code"
                name="customerCode"
                [class.is-invalid]="isControlInvalid('customerCode')"
                [class.is-valid]="isControlValid('customerCode')"
                formControlName="customerCode"
              />
              <div class="feedback" *ngIf="!isControlTouched('customerCode')">
                Please enter Customer Code
              </div>
              <div class="valid-feedback" *ngIf="isControlValid('customerCode')">
                Customer Code was entered correct
              </div>
              <div
                class="invalid-feedback"
                *ngIf="controlHasError('required', 'customerCode')"
              >
                Customer Code is required
              </div>
              <div
                class="invalid-feedback"
                *ngIf="controlHasError('minlength', 'customerCode')"
              >
                Customer Code should have at least 3 symbols
              </div>
              <div
                class="invalid-feedback"
                *ngIf="controlHasError('maxLength', 'customerCode')"
              >
                Customer Code should have maximum 100 symbols
              </div>
            </div>              
            <div class="col-lg-4">
              <label>Customer Name</label>
              <input
                type="text"
                class="form-control form-control-lg form-control-solid"
                placeholder="Customer Name"
                name="customerName"
                [class.is-invalid]="isControlInvalid('customerName')"
                [class.is-valid]="isControlValid('customerName')"
                formControlName="customerName"
              />
              <div class="feedback" *ngIf="!isControlTouched('customerName')">
                Please enter customer name
              </div>
              <div class="valid-feedback" *ngIf="isControlValid('customerName')">
                Customer Name was entered correct
              </div>
              <div
                class="invalid-feedback"
                *ngIf="controlHasError('required', 'customerName')"
              >
                Customer Name is required
              </div>
              <div
                class="invalid-feedback"
                *ngIf="controlHasError('minlength', 'customerName')"
              >
                Customer Name should have at least 3 symbols
              </div>
              <div
                class="invalid-feedback"
                *ngIf="controlHasError('maxLength', 'customerName')"
              >
                Customer Name should have maximum 100 symbols
              </div>
            </div>
            <div class="col-lg-4">
              <label>Customer Group</label>
              <input
                type="text"
                class="form-control form-control-lg form-control-solid"
                placeholder="Customer Group"
                name="customerGroup"
                [class.is-invalid]="isControlInvalid('customerGroup')"
                [class.is-valid]="isControlValid('customerGroup')"
                formControlName="customerGroup"
              />
              <div class="feedback" *ngIf="!isControlTouched('customerGroup')">
                Please enter Customer Group
              </div>
              <div class="valid-feedback" *ngIf="isControlValid('customerGroup')">
                Customer Group was entered correct
              </div>
              <div
                class="invalid-feedback"
                *ngIf="controlHasError('required', 'customerGroup')"
              >
                Customer Group is required
              </div>
              <div
                class="invalid-feedback"
                *ngIf="controlHasError('minlength', 'customerGroup')"
              >
                Customer Group should have at least 3 symbols
              </div>
              <div
                class="invalid-feedback"
                *ngIf="controlHasError('min', 'customerGroup')"
              >
                Customer Group can't be less than 1900
              </div>
              <div
                class="invalid-feedback"
                *ngIf="controlHasError('max', 'customerGroup')"
              >
                Customer Group can't be more than 2023
              </div>
              <div
                class="invalid-feedback"
                *ngIf="controlHasError('maxLength', 'customerGroup')"
              >
                Customer Group should have maximum 100 symbols
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-lg-4">
              <label>First Name</label>
              <input
                type="text"
                class="form-control form-control-lg form-control-solid"
                autocomplete="off"
                placeholder="First Name"
                name="firstName"
                [class.is-invalid]="isControlInvalid('firstName')"
                [class.is-valid]="isControlValid('firstName')"
                formControlName="firstName"
              />
              <div class="feedback" *ngIf="!isControlTouched('firstName')">
                Please enter first name
              </div>
              <div class="valid-feedback" *ngIf="isControlValid('firstName')">
                First Name was entered correct
              </div>
              <div
                class="invalid-feedback"
                *ngIf="controlHasError('required', 'firstName')"
              >
                First Name is required
              </div>
              <div
                class="invalid-feedback"
                *ngIf="controlHasError('minlength', 'firstName')"
              >
                First Name should have at least 3 symbols
              </div>
              <div
                class="invalid-feedback"
                *ngIf="controlHasError('maxLength', 'firstName')"
              >
                First Name should have maximum 100 symbols
              </div>
            </div>

            <div class="col-lg-4">
              <label>Last Name</label>
              <input
                type="text"
                class="form-control form-control-lg form-control-solid"
                autocomplete="off"
                placeholder="Last Name"
                name="lastName"
                [class.is-invalid]="isControlInvalid('lastName')"
                [class.is-valid]="isControlValid('lastName')"
                formControlName="lastName"
              />
              <div class="feedback" *ngIf="!isControlTouched('lastName')">
                Please enter last name
              </div>
              <div class="valid-feedback" *ngIf="isControlValid('lastName')">
                Last Name was entered correct
              </div>
              <div
                class="invalid-feedback"
                *ngIf="controlHasError('required', 'lastName')"
              >
                Last Name is required
              </div>
              <div
                class="invalid-feedback"
                *ngIf="controlHasError('minlength', 'lastName')"
              >
                Last Name should have at least 3 symbols
              </div>
              <div
                class="invalid-feedback"
                *ngIf="controlHasError('maxLength', 'lastName')"
              >
                Last Name should have maximum 100 symbols
              </div>
            </div>
            <div class="col-lg-4">
              <label>Email</label>
              <input
                type="text"
                class="form-control form-control-lg form-control-solid"
                autocomplete="off"
                placeholder="Email"
                name="email"
                [class.is-invalid]="isControlInvalid('email')"
                [class.is-valid]="isControlValid('email')"
                formControlName="email"
              />
              <div class="feedback" *ngIf="!isControlTouched('email')">
                Please enter email
              </div>
              <div class="valid-feedback" *ngIf="isControlValid('email')">
                Email was entered correct
              </div>
              <div
                class="invalid-feedback"
                *ngIf="controlHasError('required', 'email')"
              >
                Email is required
              </div>
              <div
                class="invalid-feedback"
                *ngIf="controlHasError('minlength', 'email')"
              >
                Email should have at least 3 symbols
              </div>
              <div
                class="invalid-feedback"
                *ngIf="controlHasError('maxLength', 'email')"
              >
                Email should have maximum 100 symbols
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-lg-4">
              <label>Mobile</label>
              <input
                type="text"
                class="form-control form-control-lg form-control-solid"
                autocomplete="off"
                placeholder="Mobile"
                name="phone"
                [class.is-invalid]="isControlInvalid('phone')"
                [class.is-valid]="isControlValid('phone')"
                formControlName="phone"
              />
              <div class="feedback" *ngIf="!isControlTouched('phone')">
                Please enter Mobile
              </div>
              <div class="valid-feedback" *ngIf="isControlValid('phone')">
                Email was entered correct
              </div>
              <div
                class="invalid-feedback"
                *ngIf="controlHasError('required', 'phone')"
              >
                Mobile is required
              </div>
              <div
                class="invalid-feedback"
                *ngIf="controlHasError('minlength', 'phone')"
              >
                Mobile should have at least 10 symbols
              </div>
              <div
                class="invalid-feedback"
                *ngIf="controlHasError('maxLength', 'phone')"
              >
                Mobile should have maximum 10 symbols
              </div>
            </div>
            <div class="col-lg-4">
              <label>Designation</label>
              <input
                type="text"
                class="form-control form-control-lg form-control-solid"
                autocomplete="off"
                placeholder="Designation"
                name="designation"
                [class.is-invalid]="isControlInvalid('designation')"
                [class.is-valid]="isControlValid('designation')"
                formControlName="designation"
              />
              <div class="feedback" *ngIf="!isControlTouched('designation')">
                Please enter designation
              </div>
              <div class="valid-feedback" *ngIf="isControlValid('designation')">
                Designation was entered correct
              </div>
              <div
                class="invalid-feedback"
                *ngIf="controlHasError('required', 'designation')"
              >
                Designation is required
              </div>
              <div
                class="invalid-feedback"
                *ngIf="controlHasError('minlength', 'designation')"
              >
                Designation should have at least 3 symbols
              </div>
              <div
                class="invalid-feedback"
                *ngIf="controlHasError('maxLength', 'designation')"
              >
                Designation should have maximum 100 symbols
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4">
              <label>Currency</label>
              <input
                type="number"
                class="form-control form-control-lg form-control-solid"
                placeholder="Currency"
                name="currency"
                [class.is-invalid]="isControlInvalid('currency')"
                [class.is-valid]="isControlValid('currency')"
                formControlName="currency"
              />
              <div class="feedback" *ngIf="!isControlTouched('currency')">
                Please enter Currency
              </div>
              <div class="valid-feedback" *ngIf="isControlValid('currency')">
                Currency was entered correct
              </div>
              <div
                class="invalid-feedback"
                *ngIf="controlHasError('required', 'currency')"
              >
                Currency is required
              </div>
              <div
                class="invalid-feedback"
                *ngIf="controlHasError('minlength', 'currency')"
              >
                Currency should have at least 1 symbol
              </div>
              <div
                class="invalid-feedback"
                *ngIf="controlHasError('maxLength', 'currency')"
              >
                Currency year should have maximum 100 symbols
              </div>
            </div>
            <div class="col-lg-4">
              <label>Select Sales Employee</label>
              <select
                class="form-control form-control-lg form-control-solid"
                name="salesEmployee"
                formControlName="salesEmployee"
              >
                <option value="Sales1">Sales Employee</option>
                <option value="Sales2">Sales Employee</option>
                <option value="Sales3">Sales Employee</option>
                <option value="Sales4">Sales Employee</option>
              </select>
              <div class="feedback">Please select sales Employee</div>
            </div>

            <div class="col-lg-4">
              <label>SAP Customer</label>
              <select
                class="form-control form-control-lg form-control-solid"
                name="sapCustomer"
                formControlName="sapCustomer"
              >
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
              <div class="feedback">Please select SAP Customer</div>
            </div>
          </div>
          
          <div class="float-right">
            <a
              class="btn btn-default font-weight-bold mr-2"
              routerLink="/ecommerce/companycustomers"
              >Cancel</a
            >
            <button
              type="submit"
              class="btn btn-primary font-weight-bold mr-2"
              [disabled]="formGroup.invalid"
            >
              Save
            </button>
          </div>
        </form>
      </div>
    </ng-container>

    <ng-container
      *ngIf="activeTabId === tabs.CONTACT_TAB && companycustomer && companycustomer.id"
    >
      <app-contacts [customerId]="companycustomer.id"></app-contacts>
    </ng-container>

    <ng-container
      *ngIf="activeTabId === tabs.SHIPPING_TAB && companycustomer && companycustomer.id"
    >
      <app-shippings [customerId]="companycustomer.id"></app-shippings>
    </ng-container>

    <ng-container
      *ngIf="activeTabId === tabs.BILLING_TAB && companycustomer && companycustomer.id"
    >
      <app-billings [customerId]="companycustomer.id"></app-billings>
    </ng-container>
  </div>
</div>
  