<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Routes list</h3>
    </div>
    <div class="card-toolbar">
      <button type="button" class="btn btn-primary" (click)="create()">New Routes</button>
    </div>
  </div>
  <div class="card-body">
    <!-- begin: Filtration form -->
    <div class="form form-label-right">
      <div class="form-group row">
        <div class="col-lg-2" [formGroup]="filterGroup">
          <select class="form-control" name="status" placeholder="Filter by Status" formControlName="status">
            <option value="">All</option>
            <option value="0">Active</option>
            <option value="2">Inactive</option>
          </select><small class="form-text text-muted"><b>Filter</b> by Status</small>
        </div>
        <div class="col-lg-2" [formGroup]="searchGroup">
          <input type="text" class="form-control" name="searchText" placeholder="Search" value=""
            formControlName="searchTerm" /><small class="form-text text-muted"><b>Search</b> in all fields</small>
        </div>
      </div>
    </div>
    <!-- end: Filtration form -->
    <!-- begin:Table -->
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <th class="text-dark">
            Routes Name
            <app-sort-icon column="routesName" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>        
          <th class="text-dark">
            Routes Code
            <app-sort-icon column="routesCode" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>  

          <th class="text-dark">
            Routes Type
            <app-sort-icon column="routesType" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th> 

          <th class="text-dark">
            Start Loation
            <app-sort-icon column="startLocation" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th> 

          <th class="text-dark">
            End Location
            <app-sort-icon column="endLocation" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            STATUS
            <app-sort-icon column="status" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>ACTIONS</th>
        </thead>
        <tbody>
          <tr *ngFor="let routes of routesService.items$ | async">
            <td>{{ routes.routeName }}</td>
            <td>{{ routes.routeCode }}</td>
            <td>{{ routes.routeType }}</td>
            <td>{{ routes.startLocation }}</td>
            <td>{{ routes.endLocation }}</td>            
            <td>
              <span class="label label-lg label-inline" [class.label-light-danger]="routes.status === 1"
                [class.label-light-success]="routes.status === 0" [class.label-light-primary]="routes.status === 1">
                <ng-container *ngIf="routes.status === 0">Active</ng-container>
                <ng-container *ngIf="routes.status === 1">Inactive</ng-container>
              </span>
            </td>
            
            <td>

              <a title="Edit routes" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
                (click)="edit(routes.id)">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-primary">
                </span>
              </a>

              <a title="Delete routes" class="btn btn-icon btn-light btn-hover-danger btn-sm"
                (click)="delete(routes.id)">
                <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-danger">
                </span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- end: Table -->
    <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
      [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator>
  </div>
</div>