<div class="card card-custom gutter-b">
  <ng-container *ngIf="isLoading$ | async">
    <div class="progress progress-modal">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
        role="progressbar"
        style="width: 100%"
        aria-valuenow="100"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
  </ng-container>

  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        <ng-container *ngIf="routeplan">
          {{ id ? "Edit" : "New" }} routeplan
          <span *ngIf="routeplan && routeplan.id"
            > {{ routeplan.itemCode }} </span
          >
        </ng-container>
      </h3>
    </div>
    <div class="card-toolbar">
      <a type="button" class="btn btn-light" routerLink="/ecommerce/routeplans">
        <i class="fa fa-arrow-left"></i>Back
      </a>
    </div>
  </div>
  <div class="card-body">
    <div class="mt-5" *ngIf="routeplan">
      <form
        action="#"
        class="form form-label-right"
        [formGroup]="routeplanForm"
        (ngSubmit)="save()"
      >
        <div class="form-group row">
          <div class="col-lg-4">
            <label>Item Code</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              autocomplete="off"
              placeholder="itemCode"
              name="itemCode"
              [class.is-invalid]="isControlInvalid('itemCode')"
              [class.is-valid]="isControlValid('itemCode')"
              formControlName="itemCode"
            />
            <div class="feedback" *ngIf="!isControlTouched('itemCode')">
              Please enter itemCode
            </div>
            <div class="valid-feedback" *ngIf="isControlValid('itemCode')">
              itemCode was entered correct
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'itemCode')"
            >
              itemCode is required
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('minlength', 'itemCode')"
            >
              itemCode should have at least 3 symbols
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('maxLength', 'itemCode')"
            >
              itemCode should have maximum 100 symbols
            </div>
          </div>
          <div class="col-lg-4">
            <label>Item Name</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              autocomplete="off"
              placeholder="Item Name"
              name="itemName"
              [class.is-invalid]="isControlInvalid('itemName')"
              [class.is-valid]="isControlValid('itemName')"
              formControlName="itemName"
            />
            <div class="feedback" *ngIf="!isControlTouched('itemName')">
              Please enter itemName
            </div>
            <div class="valid-feedback" *ngIf="isControlValid('itemName')">
              itemName was entered correct
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'itemName')"
            >
              itemName is required
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('minlength', 'itemName')"
            >
              itemName should have at least 3 symbols
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('maxLength', 'itemName')"
            >
              itemName should have maximum 100 symbols
            </div>
          </div>
          <div class="col-lg-4">
            <label>Quantity</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              autocomplete="off"
              placeholder="Quantity"
              name="quantity"
              [class.is-invalid]="isControlInvalid('quantity')"
              [class.is-valid]="isControlValid('quantity')"
              formControlName="quantity"
            />
            <div class="feedback" *ngIf="!isControlTouched('quantity')">
              Please enter quantity
            </div>
            <div class="valid-feedback" *ngIf="isControlValid('quantity')">
              Contact Person was entered correct
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'quantity')"
            >
              quantity is required
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('minlength', 'quantity')"
            >
              quantity should have at least 3 symbols
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('maxLength', 'quantity')"
            >
              quantity should have maximum 100 symbols
            </div>
          </div>             
        </div>
       
        <div class="form-group row">
          <div class="col-lg-4">
            <label>Weight</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              autocomplete="off"
              placeholder="weight"
              name="weight"
              [class.is-invalid]="isControlInvalid('weight')"
              [class.is-valid]="isControlValid('weight')"
              formControlName="weight"
            />
            <div class="feedback" *ngIf="!isControlTouched('weight')">
              Please enter weight
            </div>
            <div class="valid-feedback" *ngIf="isControlValid('weight')">
              weight was entered correct
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'weight')"
            >
              weight is required
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('minlength', 'weight')"
            >
              weight should have at least 3 symbols
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('maxLength', 'weight')"
            >
              weight should have maximum 100 symbols
            </div>
          </div>
          <div class="col-lg-4">
            <label>Volume.</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              autocomplete="off"
              placeholder="volume"
              name="volume"
              [class.is-invalid]="isControlInvalid('volume')"
              [class.is-valid]="isControlValid('volume')"
              formControlName="volume"
            />
            <div class="feedback" *ngIf="!isControlTouched('volume')">
              Please enter volume
            </div>
            <div class="valid-feedback" *ngIf="isControlValid('volume')">
              volume was entered correct
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'volume')"
            >
              volume is required
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('minlength', 'volume')"
            >
              volume should have at least 3 symbols
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('maxLength', 'volume')"
            >
              volume should have maximum 100 symbols
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-10"></div>
          <div class="col-lg-2" style="text-align: right;">
            <a href="javascript:void(0)" class="btn btn-primary" 
              (click)="addItem()">
              Add Item
            </a>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-12">
            <table class="table table-responsive">
              <thead>
                <tr>
                  <th>
                    Sales Order
                  </th>
                  <th>
                    Total Weight
                  </th>
                  <th>
                    Total Volume
                  </th>
                  <th>
                    Delivery Date
                  </th>
                  <th>
                    Routes
                  </th>
                  <th>
                    Vehicle
                  </th>
                  <th>
                    Employee
                  </th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody> <!-- [formGroupName]="i" -->                
                  <tr formArrayName="itemList"
                  *ngFor="let item of routeplanForm.get('itemList')['controls']; let i = index;">
                    <td [formGroupName]="i">
                      <select
                        class="form-control form-control-lg form-control-solid min-width-select"
                        name="orderId"
                        formControlName="orderId"
                      >
                        <option value="0">Select Order</option>
                        <option value="{{order.id}}" *ngFor="let order of ordersService.items$ | async">
                          {{order.customerCode}}
                        </option>
                      </select>
                    </td>
                    <td [formGroupName]="i" class="min-width-input">
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid min-width-input"
                        autocomplete="off"
                        placeholder="Total Weight"
                        name="totalWeight"
                        formControlName="totalWeight"
                      />
                    </td>
                    <td [formGroupName]="i" class="min-width-input">
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid min-width-input"
                        autocomplete="off"
                        placeholder="Total Volume"
                        name="totalVolume"
                        formControlName="totalVolume"
                      />
                    </td>
                    <td [formGroupName]="i" class="min-width-select">
                      <div class="input-group input-group-solid min-width-select">
                        <input type="text" name="deliveryDate" class="form-control form-control-lg form-control-solid"
                          autocomplete="off" placeholder="dd/mm/yyyy" ngbDatepicker #d="ngbDatepicker"
                          formControlName="deliveryDate" readonly="true" />
                        <div class="input-group-append" (click)="d.toggle()">
                          <span class="input-group-text">
                            <i class="text-dark-50 flaticon-calendar"></i>
                          </span>
                        </div>
                      </div>
                    </td>
                    <td [formGroupName]="i" class="min-width-select">
                      <select
                        class="form-control form-control-lg form-control-solid min-width"
                        name="routeId"
                        formControlName="routeId"
                      >
                        <option value="0">Select Route</option>
                        <option value="{{route.id}}" *ngFor="let route of routesService.items$ | async">
                          {{route.routeName}} - {{route.routeCode}}
                        </option>
                      </select>
                    </td>
                    <td [formGroupName]="i" class="min-width-select">
                     <select
                        class="form-control form-control-lg form-control-solid min-width"
                        name="vehicleId"
                        formControlName="vehicleId"
                      >
                        <option value="0">Select Vehicle</option>
                        <option value="{{vehicle.id}}" *ngFor="let vehicle of vehicleService.items$ | async">
                          {{vehicle.vehicleCode}}
                        </option>                        
                      </select>
                    </td>
                    <td [formGroupName]="i" class="min-width-select">
                      <select
                        class="form-control form-control-lg form-control-solid min-width"
                        name="employee"
                        formControlName="employeeId"
                      >
                        <option value="0">Select Employee</option>
                        <option value="{{employee.id}}" *ngFor="let employee of employeesService.items$ | async">
                          {{employee.employeeCode}}
                        </option>                        
                      </select>
                    </td>
                    <td [formGroupName]="i" class="min-width-input">
                      <a href="javascript:void(0)" class="btn btn-danger" 
                        (click)="removeItem(i)">
                        Delete
                      </a>
                    </td>
                  </tr>                
              </tbody>
            </table>
          </div>
          <div class="col-lg-11" style="text-align: right;">
            <label><strong>Total Capacity Weight: 1000</strong></label>
          </div>
          <div class="col-lg-11" style="text-align: right;">
            <label><strong>Total Capacity Volume: 500</strong></label>
          </div>

          <div class="col-lg-11" style="text-align: right;">
            <label><strong>Order Total Weight: 1000</strong></label>
          </div>
          <div class="col-lg-11" style="text-align: right;">
            <label><strong>Order Total Volume: 500</strong></label>
          </div>
        </div>

        <div class="row col-lg-12 form-group"></div>
         <hr>
        <div class="float-right">
          <a
            class="btn btn-default font-weight-bold mr-2"
            routerLink="/ecommerce/routeplans"
            >Cancel</a
          >
          <button
            type="submit"
            class="btn btn-primary font-weight-bold mr-2"
            [disabled]="routeplanForm.invalid"
          >
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
