<div class="mt-5">
  <!-- begin: Filtration form -->
  <div class="form margin-b-30">
    <div class="form-filtration">
      <div class="row align-items-center">
        <div class="col-md-2 margin-bottom-10-mobile">
          <form [formGroup]="searchGroup">
            <div>
              <input type="text" class="form-control" name="searchText" placeholder="Search"
                formControlName="searchTerm" />
              <small class="form-text text-muted"><b>Search</b> in all fields</small></div>
          </form>
        </div>
        <div class="col-md-6 margin-bottom-10-mobile"></div>
        <div class="col-md-4 text-right margin-bottom-10-mobile">
          <button type="button" class="btn btn-primary" (click)="create()">
            Add new contact
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- end: Filtration form -->
  <!-- begin:Table -->
  <div class="table-responsive angular-bootstrap-table">
    <table class="table table-head-custom table-vertical-center overflow-hidden">
      <thead>
        <th>
          First Name
          <app-sort-icon column="firstName" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
            (sort)="sort($event)"></app-sort-icon>
        </th>
        <th>
          Last Name
          <app-sort-icon column="lastName" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
            (sort)="sort($event)"></app-sort-icon>
        </th>
        <th>
          Email
          <app-sort-icon column="email" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
            (sort)="sort($event)"></app-sort-icon>
        </th>
        <th>
          Mobile Number
          <app-sort-icon column="phone" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
            (sort)="sort($event)"></app-sort-icon>
        </th>
        <th>ACTIONS</th>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contactsService.items$ | async">
          <td>{{ contact.firstName }}</td>
          <td>{{ contact.lastName }}</td>
          <td>{{ contact.email }}</td>
          <td>{{ contact.phone }}</td>
          <td>
            <button title="Edit contact" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
              (click)="edit(contact.id)">
              <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                class="svg-icon svg-icon-md svg-icon-primary">
              </span>
            </button>
            <button title="Delete contact" class="btn btn-icon btn-light btn-hover-danger btn-sm"
              (click)="delete(contact.id)">
              <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
                class="svg-icon svg-icon-md svg-icon-danger">
              </span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- end: Table -->
  <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
    [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator>
</div>