<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      <ng-container *ngIf="customer">
        <ng-container *ngIf="customer.id">Edit</ng-container>
        <ng-container *ngIf="!customer.id">Create</ng-container>
        User
        <ng-container *ngIf="customer.id"
          >'{{ customer.firstName }} {{ customer.lastName }}'</ng-container
        >
      </ng-container>
    </div>
  </div>
  <div
    class="overlay overlay-block cursor-default modal-body"
    style="min-height: 404px"
  >
    <ng-container *ngIf="isLoading$ | async">
      <div class="overlay-layer bg-transparent">
        <div class="spinner spinner-lg spinner-success"></div>
      </div>
    </ng-container>

    <ng-container *ngIf="customer">
      <form action="#" class="form form-label-right" [formGroup]="formGroup">
        <ng-container *ngIf="!customer.id">
        <div class="form-group row">
          <div class="col-lg-4">
            <label>Select User Type</label>
            <select
              class="form-control form-control-lg form-control-solid"
              name="userType"
              [class.is-invalid]="isControlInvalid('userType')"
              formControlName="userType"
              (change)="resetForm()"
            >
              <option value="1">Customer</option>
              <option value="2">Employee</option>
            </select>
            <!-- <div class="feedback">Please select User Type </div> -->
          </div>
          <div class="col-lg-4">
            <label>Select User</label>
            <select
              class="form-control form-control-lg form-control-solid"
              name="userId"
              #userSelect
              formControlName="userId"
              (change)='onSelectUser(userSelect.value)'
            >
              <option value="0">Select</option>
              <ng-container *ngIf="this.formGroup.controls['userType'].value == 1">
                <option *ngFor="let customer of companyCustomerService.items$ | async" [value]="customer.id">{{customer.email}}</option>
              </ng-container>

              <ng-container *ngIf="this.formGroup.controls['userType'].value == 2">
                <option *ngFor="let employee of employeesService.items$ | async" [value]="employee.id">{{employee.email}}</option>
              </ng-container>

            </select>
          </div>
          <div class="col-lg-4">
            <label>Select Role</label>
            <select
              class="form-control form-control-lg form-control-solid"
              name="roleId"
              #userSelect
              formControlName="roleId"
            >
              <option value="0">Select</option>
              <option *ngFor="let role of rolesService.items$ | async" [value]="role.id">{{role.roleName}}</option>
            </select>
          </div>
        </div>
        </ng-container>
        <div class="form-group row">
          <div class="col-lg-4">
            <label class="form-label">First name</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              name="firstName"
              placeholder="First Name"
              autocomplete="off"
              [class.is-invalid]="isControlInvalid('firstName')"
              [class.is-valid]="isControlValid('firstName')"
              formControlName="firstName"
              disabled="true"
            />
            <div class="valid-feedback" *ngIf="isControlValid('firstName')">
              First name was entered correct
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'firstName')"
            >
              First name is required
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('minlength', 'firstName')"
            >
              First name should have at least 3 symbols
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('maxlength', 'firstName')"
            >
              First name should have maximum 100 symbols
            </div>
          </div>
          <div class="col-lg-4">
            <label class="form-label">Last name</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid is-invalid"
              name="lastName"
              placeholder="Last Name"
              autocomplete="off"
              [class.is-invalid]="isControlInvalid('lastName')"
              [class.is-valid]="isControlValid('lastName')"
              formControlName="lastName"
              disabled="true"
            />
            <div class="valid-feedback" *ngIf="isControlValid('lastName')">
              Last name was entered correct
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'lastName')"
            >
              Last name is required
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('minlength', 'lastName')"
            >
              Last name should have at least 3 symbols
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('maxLength', 'lastName')"
            >
              Last name should have maximum 100 symbols
            </div>
          </div>
          

          <div class="col-lg-4">
            <label class="form-label">Email</label>
            <input
              type="email"
              class="form-control form-control-lg form-control-solid"
              name="email"
              placeholder="Email"
              autocomplete="off"
              [class.is-invalid]="isControlInvalid('email')"
              [class.is-valid]="isControlValid('email')"
              formControlName="email"
              disabled="true"
            />
            <div class="valid-feedback" *ngIf="isControlValid('email')">
              Email was entered correct
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'email')"
            >
              Email is required
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('email', 'email')"
            >
              Email format is incorrect
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-4">
            <label class="form-label">Username</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              name="userName"
              placeholder="Username"
              autocomplete="off"
              [class.is-invalid]="isControlInvalid('userName')"
              [class.is-valid]="isControlValid('userName')"
              formControlName="userName"
              disabled="true"
            />
            <div class="valid-feedback" *ngIf="isControlValid('userName')">
              Username was entered correct
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'userName')"
            >
              Username is required
            </div>
          </div>

          <div class="col-lg-4">
            <label class="form-label">User Code</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              name="userCode"
              placeholder="User Code"
              autocomplete="off"
              [class.is-invalid]="isControlInvalid('userCode')"
              [class.is-valid]="isControlValid('userCode')"
              formControlName="userCode"
              disabled="true"
            />
            <div class="valid-feedback" *ngIf="isControlValid('userCode')">
              User Code was entered correct
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'userCode')"
            >
              User Code is required
            </div>
          </div>


          
          <div class="col-lg-4">
            <label class="form-label">Mobile</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              name="phone"
              placeholder="Mobile"
              autocomplete="off"
              [class.is-invalid]="isControlInvalid('phone')"
              [class.is-valid]="isControlValid('phone')"
              formControlName="phone"
              disabled="true"
            />
            <div class="valid-feedback" *ngIf="isControlValid('phone')">
              Mobile number was entered correct
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-4">
            <label>Select Status</label>
            <select
              class="form-control form-control-lg form-control-solid"
              name="status"
              [class.is-invalid]="isControlInvalid('status')"
              formControlName="status"
              disabled="true"
            >
              <option value="0">Active</option>
              <option value="1">Inactive</option>
            </select>
           <!--  <div class="feedback">Please select status </div> -->
          </div>
          
          <div class="col-lg-4">
            <label class="form-label">Password</label>
            <input
              type="password"
              class="form-control form-control-lg form-control-solid"
              name="password"
              placeholder="Password"
              autocomplete="off"
              [class.is-invalid]="isControlInvalid('password')"
              [class.is-valid]="isControlValid('password')"
              formControlName="password"
            />
            <div class="valid-feedback" *ngIf="isControlValid('password')">
              Password was entered correct
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'password')"
            >
              Password is required
            </div>
          </div>

          <div class="col-lg-4">
            <label class="form-label">Confirm Password</label>
            <input
              type="password"
              class="form-control form-control-lg form-control-solid"
              name="confirmPassword"
              placeholder="Confirm Password"
              autocomplete="off"
              [class.is-invalid]="isControlInvalid('confirmPassword')"
              [class.is-valid]="isControlValid('confirmPassword')"
              formControlName="confirmPassword"
            />
            <div class="valid-feedback" *ngIf="isControlValid('confirmPassword')">
              Password was entered correct
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'confirmPassword')"
            >
              Confirm password is required
            </div>

            <div
              class="invalid-feedback"
              *ngIf="this.formGroup.controls['password'].value != this.formGroup.controls['confirmPassword'].value "
            >
              Confirm password did not match
            </div>
          </div>
        </div>
      </form>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light btn-elevate mr-2"
      (click)="modal.dismiss()"
    >
      Cancel
    </button>
    <ng-container *ngIf="customer">
      <button
        type="submit"
        class="btn btn-primary btn-elevate"
        (click)="save()"
        [disabled]="formGroup.invalid"
      >
        Save
      </button>
    </ng-container>
  </div>
</div>
