<!--begin::Profile Overview-->
<div class="d-flex flex-row">
  <!--begin::Aside-->
  <div class="flex-row-auto offcanvas-mobile w-300px w-xl-350px" id="kt_profile_aside">
    <app-profile-card></app-profile-card>
  </div>
  <!--end::Aside-->
</div>
<!--end::Profile Overview-->
