<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      <ng-container *ngIf="expensetype">
        <ng-container *ngIf="expensetype.id">Edit</ng-container>
        <ng-container *ngIf="!expensetype.id">Create</ng-container>
        ExpenseType
        <ng-container *ngIf="expensetype.id"
          >'{{ expensetype.expenseTypeCode }}'</ng-container
        >
      </ng-container>
    </div>
  </div>
  <div
    class="overlay overlay-block cursor-default modal-body"
    style="min-height: 404px"
  >
    <ng-container *ngIf="isLoading$ | async">
      <div class="overlay-layer bg-transparent">
        <div class="spinner spinner-lg spinner-success"></div>
      </div>
    </ng-container>

    <ng-container *ngIf="expensetype">
      <form action="#" class="form form-label-right" [formGroup]="formGroup">
        
        
        <div class="form-group row">
          <div class="col-lg-4">
            <label class="form-label">Expense Type Code</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              name="expenseTypeCode"
              placeholder="Expense Type Code"
              autocomplete="off"
              [class.is-invalid]="isControlInvalid('expenseTypeCode')"
              [class.is-valid]="isControlValid('expenseTypeCode')"
              formControlName="expenseTypeCode"
            />
            <div class="valid-feedback" *ngIf="isControlValid('expenseTypeCode')">
              Expense Type Code was entered correct
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'expenseTypeCode')"
            >
              Expense Type Code is required
            </div>
          </div>

          <div class="col-lg-4">
            <label class="form-label">Leave Code</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              name="leaveCode"
              placeholder="Leave Code"
              autocomplete="off"
              [class.is-invalid]="isControlInvalid('leaveCode')"
              [class.is-valid]="isControlValid('leaveCode')"
              formControlName="leaveCode"
            />
            <div class="valid-feedback" *ngIf="isControlValid('leaveCode')">
             Leave Code was entered correct
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'leaveCode')"
            >
              Leave Code is required
            </div>
          </div>

          <div class="col-lg-4">
            <label>Status</label>
            <select
              class="form-control form-control-lg form-control-solid"
              name="status"
              [class.is-invalid]="isControlInvalid('status')"
              formControlName="status"
            >
              <option value="0">Active</option>
              <option value="1">Inactive</option>
            </select>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'status')"
            >
              Status is required
            </div>
          </div> 
        </div>
      </form>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light btn-elevate mr-2"
      (click)="modal.dismiss()"
    >
      Cancel
    </button>
    <ng-container *ngIf="expensetype">
      <button
        type="submit"
        class="btn btn-primary btn-elevate"
        (click)="save()"
        [disabled]="formGroup.invalid"
      >
        Save
      </button>
    </ng-container>
  </div>
</div>
