<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      <ng-container *ngIf="billing">
        <ng-container *ngIf="billing.id">Edit</ng-container>
        <ng-container *ngIf="!billing.id">Create</ng-container>
        billing
        <ng-container *ngIf="billing.id"> with ID '{{billing.id}}</ng-container>
      </ng-container>
    </div>
  </div>
  <div class="overlay overlay-block cursor-default modal-body">
    <ng-container *ngIf="isLoading$ | async">
      <div class="overlay-layer bg-transparent">
        <div class="spinner spinner-lg spinner-success"></div>
      </div>
    </ng-container>

    <ng-container *ngIf="billing">
      <form action="#" class="form form-label-right" [formGroup]="formGroup">
        <div class="form-group row">
            <div class="col-lg-4"> <h4>Billing Details:</h4></div>
        </div>
        <div class="form-group row">
          <div class="col-lg-4">
            <label>Billing Code</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              autocomplete="off"
              placeholder="Address Code"
              name="billAddressCode"
              [class.is-invalid]="isControlInvalid('billAddressCode')"
              [class.is-valid]="isControlValid('billAddressCode')"
              formControlName="billAddressCode"
            />
            <div class="feedback" *ngIf="!isControlTouched('billAddressCode')">
              Please enter Address Code
            </div>
            <div class="valid-feedback" *ngIf="isControlValid('billAddressCode')">
              Address Code was entered correct
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'billAddressCode')"
            >
              Address Code is required
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('minlength', 'billAddressCode')"
            >
              Address Code should have at least 1 symbols
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('maxLength', 'billAddressCode')"
            >
              Address Code should have maximum 100 symbols
            </div>
          </div>
          <div class="col-lg-4">
            <label>Billing Address</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              autocomplete="off"
              placeholder="Billing Address"
              name="billAddress"
              [class.is-invalid]="isControlInvalid('billAddress')"
              [class.is-valid]="isControlValid('billAddress')"
              formControlName="billAddress"
            />
            <div class="feedback" *ngIf="!isControlTouched('billAddress')">
              Please enter Billing Address
            </div>
            <div class="valid-feedback" *ngIf="isControlValid('billAddress')">
              Billing Address was entered correct
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'billAddress')"
            >
              Billing Address is required
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('minlength', 'billAddress')"
            >
              Billing Address should have at least 1 symbols
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('maxLength', 'billAddress')"
            >
              Billing Address should have maximum 100 symbols
            </div>
          </div>

          <div class="col-lg-4">
            <label>Billing City</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              autocomplete="off"
              placeholder="Billing City"
              name="billCity"
              [class.is-invalid]="isControlInvalid('billCity')"
              [class.is-valid]="isControlValid('billCity')"
              formControlName="billCity"
            />
            <div class="feedback" *ngIf="!isControlTouched('billCity')">
              Please enter Billing City
            </div>
            <div class="valid-feedback" *ngIf="isControlValid('billCity')">
              Billing City was entered correct
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'billCity')"
            >
              Billing City is required
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('minlength', 'billCity')"
            >
              Billing City should have at least 1 symbols
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('maxLength', 'billCity')"
            >
              Billing City should have maximum 100 symbols
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-4">
            <label>Billing State</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              autocomplete="off"
              placeholder="Billing State"
              name="billState"
              [class.is-invalid]="isControlInvalid('billState')"
              [class.is-valid]="isControlValid('billState')"
              formControlName="billState"
            />
            <div class="feedback" *ngIf="!isControlTouched('billState')">
              Please enter Billing State
            </div>
            <div class="valid-feedback" *ngIf="isControlValid('billState')">
              Billing State was entered correct
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'billState')"
            >
              Billing State is required
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('minlength', 'billState')"
            >
              Billing State should have at least 1 symbols
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('maxLength', 'billState')"
            >
              Billing State should have maximum 100 symbols
            </div>
          </div>
          <div class="col-lg-4">
            <label>Billing Zip</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              autocomplete="off"
              placeholder="Billing Zip"
              name="billZipCode"
              [class.is-invalid]="isControlInvalid('billZipCode')"
              [class.is-valid]="isControlValid('billZipCode')"
              formControlName="billZipCode"
            />
            <div class="feedback" *ngIf="!isControlTouched('billZipCode')">
              Please enter Billing Zip
            </div>
            <div class="valid-feedback" *ngIf="isControlValid('billZipCode')">
              Billing Zip was entered correct
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'billZipCode')"
            >
              Billing Zip is required
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('minlength', 'billZipCode')"
            >
              Billing Zip should have at least 3 symbols
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('maxLength', 'billZipCode')"
            >
              Billing Zip should have maximum 6 symbols
            </div>
          </div>
          <div class="col-lg-4">
            <label>Billing Country</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              autocomplete="off"
              placeholder="Billing Country"
              name="billCountry"
              [class.is-invalid]="isControlInvalid('billCountry')"
              [class.is-valid]="isControlValid('billCountry')"
              formControlName="billCountry"
            />
            <div class="feedback" *ngIf="!isControlTouched('billCountry')">
              Please enter Billing Country
            </div>
            <div class="valid-feedback" *ngIf="isControlValid('billCountry')">
              Billing Country was entered correct
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'billCountry')"
            >
              Billing Country is required
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('minlength', 'billCountry')"
            >
              Billing Country should have at least 1 symbols
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('maxLength', 'billCountry')"
            >
              Billing Country should have maximum 100 symbols
            </div>
          </div>
        </div>




      </form>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Cancel</button>
    <ng-container *ngIf="billing">

      <button type="submit" class="btn btn-primary btn-elevate" (click)="save()"
        [disabled]="formGroup.invalid">Save</button>
    </ng-container>
  </div>
</div>